<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codecracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.khalid.codecracker.CCApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="75860e9d67cf6590bc63ba4c5510b4ceeeb4870b" />

        <activity
            android:name="com.khalid.codecracker.activity.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.khalid.codecracker.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.khalid.codecracker.activity.CCPreferenceActivity"
            android:theme="@style/Theme.Phone.Preferences" />
        <activity
            android:name="com.khalid.codecracker.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>